footer(class!= templates.footer)
    div(class='container' id='bottom')
        div(class='col s12 bottom-content-padding-bottom')
            div(class!= templates.footerHeader)
                h3(class='white-text') Drop a note
                    span(class='hide-on-small-only white-text smaller right') *OPTIONAL
            h4(class='show-on-small hide-on-med-and-up white-text smaller right') *OPTIONAL
        div(class='row')
            form(class='col s12' id='footer-form')
                div(class='row')
                    div(class='input-field col s12')
                        input(value='' placeholder='Bruce Wayne' id='name' type='text' class='validate contact-form-values white-text')
                        label(for='name')
                            span(class='contact-form-labels') Name*
                div(class='row')
                    div(class='input-field col s12')
                        input(value='' placeholder='bwayne@wayneenterprises.com' id='email' type='email' class='validate contact-form-values white-text')
                        label(for='email')
                            span(class='contact-form-labels') Email*
                div(class='row')
                    div(class='input-field col s12')
                        textarea(value='' placeholder='Wayne Enterprises is interested in your profile.' id='message' type='textarea' class='validate materialize-textarea contact-form-values white-text')
                        label(for='message')
                            span(class='contact-form-labels') Message
                div(class='right')
                    a(class!= templates.submitButton) SUBMIT
                        i(class='material-icons left') send
    div(class!= templates.footerCopyright)
        div(class='container')
            span(class='grey-text text-lighten-4') !{year}
            a(class='grey-text text-lighten-4 right' href!= git) GITHUB
    //SCRIPTS
    script(src='javascripts/vendor/materialize.min.js')
    script(src='javascripts/vendor/init.js')
    script(src='javascripts/plugins.js')
    script(src='javascripts/main.js')

