doctype html
html(xmlns='http://www.w3.org/1999/xhtml')
    head
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        // Google
        meta(name='description' content!= description)
        meta(name='keywords' content!= keywords)
        meta(name='author' content!= name)
        meta(name='copyright' content!= year)
        meta(name='application-name' content='http://cv.sajjad.nyc')
        // FACEBOOK
        meta(property='og:title' content!= name)
        meta(property='og:type' content='application/http')
        meta(property='og:image' content!= logo)
        meta(property='og:url' content!= host)
        meta(property='og:description' content!= description)
        // TWITTER
        meta(name='twitter:card' content!= description)
        meta(name='twitter:title' content!= name)
        meta(name='twitter:description' content!= description)
        meta(name='twitter:image' content!= logo)
        // PAGE
        title!= title
        link(rel='shortcut icon' href!= logo)
        // STYLESHEETS
        link(rel='stylesheet' href='stylesheets/materialize.min.css')
        link(rel='stylesheet' href='stylesheets/normalize.css')
        link(rel='stylesheet' href='stylesheets/main.css')
        // JAVASCRIPTS
        script(src='javascripts/vendor/jquery-1.11.3.min.js')
        script(src='javascripts/vendor/materialize.min.js')
        script(src='javascripts/vendor/modernizr-2.8.3.min.js')
        //GOOGLE FONTS
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700,800' rel='stylesheet' type='text/css')
        link(href='http://fonts.googleapis.com/css?family=Exo+2:300italic,100italic,200italic,200,900italic,300,400,100,400italic,900' rel='stylesheet' type='text/css')
