section(class='resume-right-side')
    div(class!= templates['experienceHeader'])
        h3(class='white-text center-align remove-margin-top-bottom') Experience
    //CANDIDATE RESUME
    include resume
