extends layout

block content
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    // SITE CONTENT
    .bodyWrapper
        .candidateWelcomeBackground
            .container.center-align
                .hide-on-med-and-up
                    span.candidateFirstName !{info.firstName}
                    //br
                    //span.candidateLastName Hossain
