/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

body {
    font-family: 'Open Sans', sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #2196f3;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#top {
    padding-top: 2.5rem;
}

/* ==========================================================================
   Fonts
   ========================================================================== */

/* ==========================================================================
   Loading animation
   ========================================================================== */

.loader {
    position: fixed;
    width: 100%;
    top: 45%;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
   ========================================================================== */

/* ==========================================================================
   Smartphones (portrait and landscape)
   ========================================================================== */

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
.resume-builder {
        color: #ffffff;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        font-size: 1.75rem;
    }

    .step {
        color: #ffffff;
        text-transform: uppercase;
        font-style: italic;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 1.75rem;
    }

    .inline li {
        display: inline-block;
        list-style-type: none;
        padding-left: 1.66rem;
        padding-right: 1.66rem;
    }

    .inline a {
        color: #ffffff;
    }

    .inline a:hover {
        color: #ffc107;
    }

    .my-lists {
        padding-left: 1.33rem;
        padding-right: 1.33rem;
    }

    .my-list-item {
        list-style-type: disc;
    }
}

/* ==========================================================================
   Smartphones (landscape)
   ========================================================================== */

@media only screen
and (min-width : 321px) {
    .resume-builder {
        color: #ffffff;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        font-size: 2.33rem;
    }

    .step {
        color: #ffffff;
        text-transform: uppercase;
        font-style: italic;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 2.33rem;
    }

    .inline li {
        display: inline-block;
        list-style-type: none;
        padding-left: 2.33rem;
        padding-right: 2.33rem;
    }

    .inline a {
        color: #ffffff;
    }

    .inline a:hover {
        color: #ffc107;
    }

    h3 {
        font-size: 1.5em;
        line-height: 1.13636364em;
    }

    h4 {
        font-size: 1.375em;
        line-height: 1.11111111em;
    }

    h5 {
        font-size: 1.125em;
        line-height: 1.11111111em;
    }

    .flow-text {
        font-size: 1.125em;
    }

    .contact-form-labels {
        font-size: 1.33em;
        line-height: 1.33;
    }

    .contact-form-values {
        font-size: 1.33em;
        line-height: 1.33;
    }
}

/* ==========================================================================
   Smartphones (portrait)
   ========================================================================== */

@media only screen
and (max-width : 320px) {
    .resume-builder {
        color: #ffffff;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        font-size: 2rem;
    }

    .step {
        color: #ffffff;
        text-transform: uppercase;
        font-style: italic;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 2rem;
    }

    .inline li {
        display: inline-block;
        list-style-type: none;
        padding-left: 1.66rem;
        padding-right: 1.66rem;
    }

    .inline a {
        color: #ffffff;
    }

    .inline a:hover {
        color: #ffc107;
    }

    h3 {
        font-size: 1.5em;
        line-height: 1.13636364em;
    }

    h4 {
        font-size: 1.375em;
        line-height: 1.11111111em;
    }

    h5 {
        font-size: 1.125em;
        line-height: 1.11111111em;
    }

    .flow-text {
        font-size: 1.125em;
    }

    .contact-form-labels {
        font-size: 1.33em;
        line-height: 1.33;
    }

    .contact-form-values {
        font-size: 1.115em;
        line-height: 1.33;
    }
}

/* ==========================================================================
   iPads (portrait and landscape)
   ========================================================================== */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1224px) {
    h3 {
        font-size: 1.75em;
        line-height: 1.25em;
    }

    h4 {
        font-size: 1.5em;
        line-height: 1.22222222em;
    }

    h5 {
        font-size: 1.25em;
        line-height: 1.11111111em;
    }

    .flow-text {
        font-size: 1.125em;
    }

    .contact-form-labels {
        font-size: 1.5em;
        line-height: 1.1;
    }

    .contact-form-values {
        font-size: 1.25em;
        line-height: 1.1;
    }
}

/* ==========================================================================
   iPads (landscape)
   ========================================================================== */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
    .resume-builder {
        color: #ffffff;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        font-size: 4.75rem;
    }

    .step {
        color: #ffffff;
        text-transform: uppercase;
        font-style: italic;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 4.5rem;
    }
}

/* ==========================================================================
   iPads (portrait)
   ========================================================================== */

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
    .resume-builder {
        color: #ffffff;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        font-size: 3.75rem;
    }

    .step {
        color: #ffffff;
        text-transform: uppercase;
        font-style: italic;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 3.75rem;
    }
}

/* ==========================================================================
   Desktops and laptops
   ==========================================================================*/

@media only screen
and (min-width : 1224px) {
    .resume-builder {
        color: #ffffff;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        font-size: 5.75rem;
    }

    .step {
        color: #ffffff;
        text-transform: uppercase;
        font-style: italic;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 5.75rem;
    }

    h3 {
        font-size: 1.75em;
        line-height: 1.13636364em;
    }

    h4 {
        font-size: 1.5em;
        line-height: 1.11111111em;
    }

    h5 {
        font-size: 1.375em;
        line-height: 1.11111111em;
    }

    .flow-text {
        font-size: 1.25em;
    }

    .contact-form-labels {
        font-size: 1.5em;
        line-height: 1.1;
    }

    .contact-form-values {
        font-size: 1.25em;
        line-height: 1.1;
    }
}

/* ==========================================================================
   Large screens
   ========================================================================== */

@media only screen
and (min-width : 1824px) {
    .resume-builder {
        color: #ffffff;
        letter-spacing: 0.25rem;
        text-transform: uppercase;
        font-family: 'Exo 2', sans-serif;
        font-weight: 700;
        font-size: 5.75rem;
    }

    .step {
        color: #ffffff;
        text-transform: uppercase;
        font-style: italic;
        font-family: 'Exo 2', sans-serif;
        font-weight: 100;
        font-size: 5.75rem;
    }

    h3 {
        font-size: 2em;
        line-height: 1.13636364em;
    }

    h4 {
        font-size: 1.75em;
        line-height: 1.11111111em;
    }

    h5 {
        font-size: 1.5em;
        line-height: 1.11111111em;
    }

    .contact-form-labels {
        font-size: 1.75em;
        line-height: 1.1;
    }

    .contact-form-values {
        font-size: 1.5em;
        line-height: 1.1;
    }
}

/* ==========================================================================
   Color Picker
   ========================================================================== */

.red {
    color: #F44336
}

.pink {
    color: #FF4081
}

.deep-purple {
    color: #512DA8
}

.purple {
    color: #E040FB
}

.indigo {
    color: #3F51B5
}

.blue {
    color: #3F51B5
}

.light-blue {
    color: #03A9F4
}

.cyan {
    color: #00BCD4
}

.teal {
    color: #00796B
}

.green {
    color: #4CAF50
}

.light-green {
    color: #8BC34A
}

.lime {
    color: #CDDC39
}

.yellow {
    color: #FFEB3B
}

.amber {
    color: #FFEB3B
}

.orange {
    color: #FF9800
}

.deep-orange {
    color: #FF5722
}

.brown {
    color: #795548
}

.grey {
    color: #9E9E9E
}

.blue-grey {
    color: #9E9E9E
}


/* ==========================================================================
   Screen size agnostic
   ========================================================================== */

.scroll {
    height:100%;
    overflow-x:scroll;
    white-space: nowrap;
}

.remove-font-styles {
    color: rgba(0,0,0,0.87) !important;
}

.git-data {
    border-right: solid #E4E4E4;
    min-height: 100px;
}

.git-image {
    max-width: 250px;
}

.sub {
    color: #ffffff;
}

.chips-padding {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.padding-top {
    padding-top: 2.5rem;
}

.padding-bottom {
    padding-bottom: 2.5rem;
}

.padding-right {
    padding-right: 0.75rem;
}

.smaller {
    font-size: 75%;
}

.smallest {
    font-size: 65%;
    font-style: italic;
}

.top-content {
    padding-bottom: 2rem;
}

.bottom-content-padding-bottom {
    padding-bottom:2rem;
}

.disabled {
    pointer-events: none;
    cursor: default;
}

.my-lists {
    padding-left: 2.33rem;
    padding-right: 2.33rem;}

.my-list-item {
    list-style-type: disc;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}

/*
 * Remove margins
 */

.remove-margin-top {
    margin-top: 0;
}

.remove-margin-bottom {
    margin-bottom: 0;
}

.remove-margin-top-bottom {
    margin-top: 0;
    margin-bottom: 0;
}

.remove-margin {
    margin: 0;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
