- var message = false
div.row
    div#footer-form.col.s12
        form#contact(method = 'post', action = 'contact/send')
            div.row.padding-top
                p.form-group.input-field.col.s12
                    label
                        span.contact-form-labels Name*
                    input#name.form-control.white-text(type='text', name = 'name', placeholder='Enter Name')
                p.form-group.input-field.col.s12
                    label
                        span.contact-form-labels Email*
                    input#email.form-control.white-text(type='email', name = 'email' placeholder='Enter Email')
                p.form-group.input-field.col.s12
                    label
                        span.contact-form-labels Message
                    textarea#message.form-control.validate.materialize-textarea.contact-form-values.white-text(value='' placeholder='Wayne Enterprises is interested in your profile.' name='message' type='textarea', required, message=true)
            div(class='right')
                    button#submit(class!= templates.submitButton type='submit') Submit
                        i.material-icons.left send
