// OPEN/CLOSE
#overlay.black-text.overlay.overlay-hugeinc.valign-wrapper
    a.overlay-close.close-button(type='button')
        i.material-icons.medium.white-text close
    ul.center-align.valign
        li.closer
            a(href='#', onclick='closeTheShit()') Print
        li.closer
            a(href='#', onclick='closeTheShit()') Download
        li.closer
            a(href='http://metaterran.com', target='blank', onclick='closeTheShit()') Portfolio
        li.closer
            a(href='#bottom', onclick='closeTheShit()') Contact